body{
background-image: url(apple.jfif);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0%;
}
h2{
background-color: rgb(129, 182, 243);
border-radius: 5px;
font-family: fantasy;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input:focus{
    outline: none;
    border-color: aquamarine;
}

